@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.header{
    background-color: #6888A7;
}

.btn-primary{
    background: #6888A7;
}

.header h1{
    margin: 0;
    display: inline-block;
    line-height: 40px;
    font-family: 'Open Sans';
    font-size: 12pt;
    color:#FFFFFF;
}

.header img.logo{
    margin: 4px;
}

.hero{
    position: relative;
    font-family: 'Open Sans';
    font-weight: 300;
    background: #000000;
    color: #FFFFFF;
        text-align: center;
        padding-top: 120px;
}

.hero h2{
    font-size: 48pt;
    font-weight: 400;
    margin: 0;
}
.hero h2 span{
    display: block;
    font-size: 26pt;
    font-weight: 300;
    margin-top: 20px;
}

.hero .btn{
    margin: 100px auto;
}

.hero-badges{
    position: absolute;
    bottom: 0;
    left: 0;
}

.quotes {
	position: relative;
	margin: 3em auto 5em auto;
	max-width: 800px;
	width: 100%;
	min-height: 400px;
    color: #B7c7DB;
}
.quotes p{font-size: 26pt; font-family: 'Open Sans';}

.quotes footer{font-size: 18pt; font-family: 'Open Sans'; font-style: italic;}



colours{
    color: #293A4A
    #577291
#6888A7
#A5BAD3
#B7C7DB
#F6A623}