@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.header{
    background-color: #EFEFEF;
}

.header h1{
    margin: 0;
    display: inline-block;
    line-height: 40px;
    font-family: 'Open Sans';
    font-size: 12pt;
}

.header img.logo{
    margin: 4px;
}

.hero{
    font-family: 'Open Sans';
    font-weight: 300;
    background: #000000;
    color: #FFFFFF;
        text-align: center;
        padding-top: 120px;
}

.hero h2{
    font-size: 42pt;
    font-weight: 300;
    margin: 0;
}
.hero h2 span{
    display: block;
    font-size: 26pt;
    font-weight: 300;
}

.hero .button{
    margin: 40px auto;
}

.button{
    display: inline-block;
    background: #CCDDFF;
    text-decoration: none;
    color: #2C2C2C;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}