@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.header{
    background-color: #EFEFEF; 
    display: flex;
}

.btn-primary{
    background: #6888A7;

}


.header h1{
    margin: 0;
    display: inline-block;
    line-height: 40px;
    font-family: 'Open Sans';
    font-size: 12pt;
    color:#FFFFFF;
}

.header img.logo{
    margin: 8px auto;
    display: block;
}

.header .dropdown button{
    margin: 8px;
    height: 48px;
    width: 48px;
    background: none;
}

.header .dropdown-menu{
    position: absolute;
    left: -112px;
    border: none;
}

.hero{
    position: relative;
    font-family: 'Open Sans';
    font-weight: 300;
    background: #000000;
    color: #FFFFFF;
        text-align: center;
        padding-top: 120px;
}

.hero h2{
    font-size: 48pt;
    font-weight: 400;
    margin: 0;
}
.hero h2 span{
    display: block;
    font-size: 26pt;
    font-weight: 300;
    margin-top: 20px;
}

.hero .btn{
    margin: 100px auto;
    font-size: 20px;
    padding: 12px 20px;
    line-height: 1.4;
    opacity: 0.8;
}

.hero-badges{
    position: absolute;
    bottom: 0;
    left: 0;
}

.quotes {
	position: relative;
	margin:4px auto  ;
	max-width: 50%;
	width: 100%;
	min-height: 400px;
    color: #A5BAD3;
    font-style: italic;
    font-weight: 200;
}
.quotes p{
    font-size: 22pt; 
    }

.quotes .name{
    font-size: 18pt; 
    color: #577291;
    }
blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote p:before {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p::after {
  color: #ccc;
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.foot{
    margin: 0;
    display: inline-block;
    text-align: right;
    line-height: 20px;
    
    background: #6888A7;
    width: 100%;
    
     
}
.foot p{
    font-family: 'Open Sans';
    font-size: 12pt;
    color:#FFFFFF;
    padding-right: 15px;
    }

colours{
    color: #293A4A
    #577291
#6888A7
#A5BAD3
#B7C7DB
#F6A623}